<footer>
    <a href="https://www.linkedin.com/in/moses-baek"><img class = "footerIcon" src="https://cdn-icons-png.flaticon.com/512/408/408805.png"></a>
    <a href="https://github.com/mobaek01"><img class = "footerIcon" src="https://cdn-icons-png.flaticon.com/512/38/38401.png"></a>
    <a href="https://www.instagram.com/mobaek/"><img class = "footerIcon" src="https://cdn-icons.flaticon.com/png/512/665/premium/665211.png"></a>
</footer>
