<header>
    <div class="headerTitle">
        <h1>Mo'Gram</h1>
    </div>
    <div class="headerBtn">
        <a class = "material-icons homeBtn" href="/feed">home</a>
        <a class = "material-icons homeBtn" href="/feed/new">post_add</a>
        <a class = "material-icons homeBtn" href="/feed">login</a>
        <a class = "material-icons homeBtn" href="/feed">how_to_reg</a>
    </div>
</header>
