<header>
    <div class="headerTitle">
        <a href="/feed">
            <h1>Mo'Gram</h1>
        </a>
    </div>
    <div class="headerBtn">
        <% if (currentUser) { %>
            <h3 class = "welcome">WELCOME, <%=currentUser.username%></h3>
            <form class="" action="/sessions?_method=DELETE" method="POST">
                <input class = "material-icons homeBtn logOut" type="submit" value="logout">
            </form>
        <% } else { %>
            <a class = "material-icons homeBtn" href="/sessions/new">login</a>
            <a class = "material-icons homeBtn" href="/users/new">how_to_reg</a>
        <% }%>
        <a class = "material-icons homeBtn" href="/feed/new">post_add</a>
        <a class = "material-icons homeBtn" href="/feed">home</a>
    </div>
</header>
