@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* GLOBAL */

body {
    font-family: 'Shadows Into Light', cursive;

}

a {
    text-decoration: none;
    color: black;
}

.button {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 3px;
    background: #E6E1DF;
    padding: 2px 16px 2px 16px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 14px;
    margin-top: 1%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;

}

/* INDEX PAGE */

header {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    background: #38c29e;
    color: black;
    position: fixed;
    top: 0%;
    width: 98.5%;
}

.headerTitle {
    display: flex;
    justify-content: flex-start;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    width: 20%;
    padding-left: 4%;
}

.headerBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    padding-right: 4%;
}

.homeBtn {
    margin-left: .5em;
}

.logOut {
    border: none;
    background: none;
}

.feedPost {
    margin-bottom: 5%;
    height: 80%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userTitle {
    border: 1px solid silver;
    width: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 0 8% 0;
    border-bottom: none;

}

.feedImg {
    border: 1px solid silver;
    width: 70vh;
    height: 60vh;
    margin-bottom: -6%;
    margin-top: -10%;
    border-bottom: none;
    border-top: none;
}

.likeNum {
    margin-bottom: -2%;
    padding-left: 1%;
    padding-top: 2%;
    font-size: .7em;
}

.likeBox {
    box-sizing: border-box;
    border: 1px solid silver;
    display: flex;
    margin-top: -4%;
    margin-bottom: -4%;
    border-top: none;
    border-bottom: none;
}

.likeBtn {
    display: flex;
    align-self: center;
    border-bottom: none;
    padding: 5% 0 13% 0;
    margin-bottom: -10%;
}

.heart {
    border: none;
    background: white;
}

.userCap {
    border: 1px solid silver;
    width: 70vh;
    text-align: center;
    border-top: none;
    padding-bottom: 4%;
}

/* SHOW PAGE */

.showHeader {
    background: silver;
    padding: 1% 7%;
}

.showPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.showUser {
    display: flex;
    align-content: center;
    width: 65vw;
}

.userName {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 50%;

}

.editDelete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 50%;
}

.edit {
    margin-right: 2%;
}

.delete {
    margin-top: 3px;
}

.showImg {
    width: 65vw;
    height: 65vh;
    box-sizing: border-box;
    border: 1px solid #F5F5F5;
}

.commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-top: 3%;
    margin-bottom: 1%;
}

#showCap {
    resize: none;
    width: 50vw;
    height: 15vh;
}

.btn {
    display: flex;
    align-items: center;
}

/* NEW POST PAGE */

.form {
    width: 50%;
    display: block;
}

.textBox {
    resize: none;
    width: 100%;
    margin: 1%;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100vw;
}

.footerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #38c29e;
    padding-right: 2%;
    padding-left: 2%;
    margin-right: 50px;
    margin-top: 1%;
}

.copyright {
    margin-right: 1%;
}

.footerIcon {
    width: 15px;
    height: 20px;
    margin-right: 1%;
}

@media only screen and (max-width: 480px){
    header{
        width: 95%;
    }

    .headerTitle{
        font-size: 13px;
    }

    .welcome {
        font-size: 11px;
    }

    main {
        margin-top: 80px;
    }

    .feedCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;

    }

    .userTitle {
        width: 300px;
        border: none;
    }

    .feedImg {
        width: 300px;
        height: 300px;
        border: none;
    }

    .likeNum {
        display: flex;
        font-size: 8px;
        align-self: flex-start;
        border: none;
        width: 100%;
        margin-top: 5%;
    }
    .likeBox {
        border: none;
        width: 100%;
        margin-top: 1%;
    }

    .userCap {
        width: 330px;
        font-size: 11px;
        border: none;
        margin-left: 25px;
        margin-top: 15px;
    }

    .button {
        font-size: 9px;
    }

    .showHeader {
        font-size: 13px;
    }

    .showUser {
        width: 300px;
        font-size: 11px;
    }

    .showImg {
        width: 300px;
        height: 300px;
    }

    .showText {
        font-size: 11px;
        width: 300px;
    }

    .commentForm {
        display: flex;
        align-items: center;
        width: 300px;
        font-size: 11px;
    }

    .label {
        font-size: 11px;
    }

    #showCap {
        width: 100%;
        height: 50px;
    }

    .commentBtn {
        font-size: 9px;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .form {
        font-size: 11px;
        width: 300px;
    }

    .capSubmit {
        margin-bottom: 3%;
    }

    .authorBox {
        width: 100%;
        margin-bottom: 3%;
    }

    .commentBox {
        width: 150px;
    }

    footer {
        width: 300px;
        display: flex;
        margin-left: 7.5%;
    }

    .footerDiv {
        display
    }
}
