@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* GLOBAL */

body {
    font-family: 'Shadows Into Light', cursive;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 3px;
    background: #E6E1DF;
    padding: 2px 16px 2px 16px;
    font-family: 'Arial', cursive;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

/* INDEX PAGE */

header {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    background: #38c29e;
    color: black;
    position: fixed;
    top: 0%;
    width: 98.5%;
}

.headerTitle {
    display: flex;
    justify-content: flex-start;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    width: 20%;
    padding-left: 2%;
    color: white;
}

.headerBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    padding-right: 2%;
}

.homeBtn {
    font-size: 36dp;
    margin-left: .5em;
    color: white;
}

.feedPost {
    margin-bottom: 5%;
    height: 80%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userTitle {
    border: 1px solid silver;
    width: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: silver;
    padding: 4% 0 8% 0;
    border-bottom: none;

}

.feedImg {
    border: 1px solid silver;
    width: 70vh;
    height: 60vh;
    margin-bottom: -3%;
    margin-top: -10%;
    border-bottom: none;
    border-top: none;
}

.likeComment {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    border-bottom: none;
    margin-bottom: -4%;
}

.likeBtn {
    display: flex;
    align-self: center;
    border-bottom: none;
    padding: 5% 0 13% 0;
    margin-bottom: -10%;
}

.heart {
    border: none;
    background: white;
}

.userCap {
    border: 1px solid silver;
    width: 70vh;
    text-align: center;
    border-top: none;
    padding-bottom: 4%;
}

/* SHOW PAGE */

.showPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.showImg {
    width: 45vw;
    height: 65vh;
    box-sizing: border-box;
    border: 1px solid silver;
}

.commentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showCap {
    resize: none;
    width: 300%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.footerIcon {
    width: 1.7vw;
    height: 3vh;
    margin-right: 1%;
}
